body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
  color: white;
}

.card {
  background: #1c1c1c;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 420px;
  box-shadow: 0 0 20px rgba(0,0,0,0.45);
}

input, button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
}

button {
  background: #00b894;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #019d7e;
}
